extends layout.pug

block content   
  .header-container
    h1 ADMIN PAGE
    h2 Hello, #{user}!
    
    form(action="/submit_action" method="POST")
      button(type="submit" class="button" name="submit") Add item
    form(action="/submit_type" method="POST")
      button(type="submit" class="button" name="submit") Add type
      br
      br
    form(action="/logout" method="POST")
      button(type="submit" class="button" name="logout") Logout
      