extends layout.pug

block content   
  .header-container
    h1 ADMIN PAGE
    h1 Random Actions Data
    
    form(action="/logout" method="GET")
      button(onclick="location.href='/submit_action'" type="button" class="button") Some button
      button(onclick="location.href='/submit_thing'" type="button" class="button") Some button
      br
      button(type="submit" class="button" name="logout") Logout
      