extends layout.pug

block content   
  .header-container
    h1 USER PAGE
    h1 USER PORTAL
    h1 Hi, #{user}
    h
        
    form(action="/logout" method="GET")
      button(onclick="location.href='/get_random_task'" type="button" class="button" id="random_task_btn") Some button
      //- button(onclick="location.href='/set_current_task'" type="button" class="button" id="current_task_btn") Get New Task
      button(type="submit" class="button" name="logout") Logout
